<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <localRepository xmlns="http://maven.apache.org/SETTINGS/1.1.0">/home/nagendra-reddy.bandi/.m2/repository</localRepository>
    <pluginGroups xmlns="http://maven.apache.org/SETTINGS/1.1.0">
      <pluginGroup>org.apache.maven.plugins</pluginGroup>
      <pluginGroup>org.codehaus.mojo</pluginGroup>
    </pluginGroups>
  
    <servers xmlns="http://maven.apache.org/SETTINGS/1.1.0">
      <server>
          <id>sample-app</id>
          <username>deploy-user</username>
          <password>deploy123</password>
      </server>
      <server>
          <id>sample-snap</id>
          <username>deploy-user</username>
          <password>deploy123</password>
      </server>
  </servers>
</settings>